# Arduino DUE RULE
KERNEL=="ttyACM*", MODE:="0666", SYMLINK+="arduino" 
# Lidar driver 
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", MODE:="0666", SYMLINK+="lidar" 
# Pendrive actions 
KERNEL=="sda", SUBSYSTEM=="block", TAG+="systemd", ENV{SYSTEMD_WANTS}="mount_pendrive.service", ACTION=="add", SYMLINK+="pendrive" 
KERNEL=="sda", SUBSYSTEM=="block", ACTION=="remove", RUN+="/bin/bash /usr/local/bin/pendrive_disconnect.sh"

